body{
	background:#FFFFFF;
	width: 90%; 
	margin: auto;
	padding: 0;
	font-family:Arial, Helvetica, serif;
}
.main_bar {
    
    background: #AAC4C5;
}
#right{
	float:right;
	}
#mb_headers{
	margin-left: 1.5%; 
	margin-right: 1.5%;
	}
#dropdowns{
	position: relative;
}	
#dropdowns ul{
	position: absolute;
	list-style-type:none;
	margin:0px 10px 0px 0px;
	padding:0px 10px 0px 0px;
	top:0px;
	visibility:hidden;
	}
#dropdowns ul li{
	margin:0px 0px 0px 0px;
	padding:3px 0px 0px 0px;
	background: #AAC4C5;
}
#dropdowns ul.electronics{
	left:1.5%; /* because mb_headers has left margin of 1.5% */
}
#dropdowns ul.furniture{
	left:9.5%;
}
#logo{
    display: block;
    background:#393939;
    margin-left: auto;
    margin-right: auto;
    }
#login_page{
	margin: auto;
	position:relative;
	padding: 3%;	
}    
        
#adbanner_on_loginpage{
	background: #AAC4C5;
	position: absolute;     	
	width: 62.5%;
	height:237px;
	border: 1px solid white;
	float:left;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#login_form{ 	
	background: #AAC4C5;
	position: absolute;
	width:24.4%;
	margin-left:66.15%;	
	float:right;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index: 1;
}
#register_form{
	background: #AAC4C5;
	width:300px;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

h2, h4, h5 { 
	margin-top: 0;
	text-align: center;
	color: #0070b8;
	text-shadow: 0 1px 0 white;
}
h1 {
	margin-top: 0;
	text-align: center;
	color: #0070b8;
	text-shadow: 0 1px 0 white;
	font-size: 1.6em;
} 
h3 { 
	font-size: 1.1em;
}
 
input[type=text], input[type=password] { 
	font-family: Arial, Helvetica, serif;
	font-size: 14px;
	color: #0070b8;
	display: block;
	margin: 0 0 1em 0;
	width: 273px;
	border: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1em; 
} 
 
input[type=text]:focus, input[type=password]:focus { 
	outline: none;
	box-shadow: Opx Opx Opx 2pt #549396;
} 
input::-webkit-input-placeholder { 
	color: #0070b8; 
} 
input:-moz-placeholder { 
	color: #0070b8; 
} 
input:-ms-input-placeholder { 
	color: #549396; 
} 
input[type=submit], form a {
	font-family: Arial, Helvetica, serif;
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 14px;
	background: #027cca;
	color: white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
input[type=submit]:hover, form a:hover{
	background: #0070b8;
	cursor: pointer;
}
#MG{
	height:20px;
}
#MG:hover{
	cursor: pointer;
}
	
.error{
	color:#393939;
	font-size: 9px;
}


/* rohin */
#your_acc {
    color: red;
    text-align: justify;
}
.bodyContainer {
        background-color: linen;
}
#update_details_form{
	background: #AAC4C5;
	width:300px;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px
}
/*catalog*/
#product_related{	
	padding: 1%;	
}    
        
#filter_related{
	background: #AAC4C5;
	width: 16.5%;
	/*height:237px;
	border: 1px solid white;*/
	float:left;
	padding: 1%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#product_grid{ 	
	background: #AAC4C5;
	width:78.4%;
	margin-left:1%;	
	float:left;
	border: 1px;
	padding: 1%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}