body{
	background:#FFFFFF;
	width: 80%; 
	margin: auto;
	padding: 0;
	font-family:"Comic Sans MS",serif;
}
.header {
    text-align:right;
    background: #AAC4C5;
}
#logo{
    display: block;
    background:#393939;
    margin-left: auto;
    margin-right: auto;
    }
#login_page{
	margin: auto;
	position:relative;
	padding: 3%;	
}    
        
#adbanner_on_loginpage{
	background: #AAC4C5;
	position: absolute;     	
	width: 61%;
	height:237px;
	border: 1px solid white;
	float:left;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#login_form{ 	
	background: #AAC4C5;
	position: absolute;
	width:25.4%;
	margin-left:64.65%;	
	float:right;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index: 1;
}
#register_form{
	background: #AAC4C5;
	width:300px;
	border: 1px solid white;
	padding: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
h2, h4, h5 { 
	margin-top: 0;
	text-align: center;
	color: #0070b8;
	text-shadow: 0 1px 0 white;
}
h1 {
	margin-top: 0;
	text-align: center;
	color: #0070b8;
	text-shadow: 0 1px 0 white;
	font-size: 1.6em;
} 
h3 { 
	font-size: 1.1em;
} 
input[type=text], input[type=password] { 
	font-family: 'Comic Sans MS', serif;
	font-size: 14px;
	color: #0070b8;
	display: block;
	margin: 0 0 1em 0;
	width: 273px;
	border: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1em; 
} 
 
input[type=text]:focus, input[type=password]:focus { 
	outline: none;
	box-shadow: Opx Opx Opx 2pt #549396;
} 
input::-webkit-input-placeholder { 
	color: #0070b8; 
} 
input:-moz-placeholder { 
	color: #0070b8; 
} 
input:-ms-input-placeholder { 
	color: #549396; 
} 
input[type=submit], form a {
	font-family: 'Comic Sans MS', serif;
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 14px;
	background: #027cca;
	color: white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
input[type=submit]:hover, form a:hover{
	background: #0070b8;
	cursor: pointer;
}
	
.error{
	color:#393939;
	font-size: 9px;
}


/* rohin */
p {
    color: red;
    text-align: justify;
}
.bodyContainer {
        background-color: linen;
}
