<files .htaccess="">
order allow,deny
deny from all
</files>

# disable directory browsing
Options All -Indexes

<IfModule mod_deflate.c>
<FilesMatch "\.(js|css|php|html|js^|css^)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

# Force non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.type\.is$ [NC]
RewriteRule ^(.*)$ http://type.is/ [L,R=301]

# BEGIN W3TC Browser Cache
<IfModule mod_deflate.c>
    <IfModule mod_headers.c>
            Header append Vary User-Agent env=!dont-vary
	        </IfModule>
		        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
			    <IfModule mod_mime.c>
			            # DEFLATE by extension
				            AddOutputFilter DEFLATE js css htm html xml
					        </IfModule>
						</IfModule>
# END W3TC Browser Cache
						
# BEGIN WordPress
						RewriteEngine On
						RewriteBase /
						RewriteRule ^index\.php$ - [L]
						
# uploaded files
						RewriteRule ^([_0-9a-zA-Z-]+/)?files/(.+) wp-includes/ms-files.php?file=$2 [L]
						
# add a trailing slash to /wp-admin
						RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]
						
						RewriteCond %{REQUEST_FILENAME} -f [OR]
						RewriteCond %{REQUEST_FILENAME} -d
						RewriteRule ^ - [L]
						RewriteRule  ^[_0-9a-zA-Z-]+/(wp-(content|admin|includes).*) $1 [L]
						RewriteRule  ^[_0-9a-zA-Z-]+/(.*\.php)$ $1 [L]
						RewriteRule . index.php [L]
