<?xml version="1.0" encoding="UTF-8"?>
<phpunit
colors="true"
stopOnFailure="false"
backupGlobals="false"
backupStaticAttributes="false"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
processIsolation="false"
syntaxCheck="false"
cacheTokens="true"
verbose="false"
bootstrap="tests/Bootstrap.php">
    <testsuites>
        <testsuite name="UBsMart Test Suite">
            <directory>./tests/</directory>
	    <file>./tests/CITest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./application/models</directory>
            <directory suffix=".php">./application/controllers</directory>
            <directory suffix=".php">./application/views</directory>
            <directory>./system</directory>
        </whitelist>
    </filter>
    <logging>
    <log type="coverage-clover"
    target="./log/tests-clover.xml"/>
    <log type="junit"
    target="./log/tests-junit.xml"
    logIncompleteSkipped="false"/>
    </logging>
    </phpunit>
